# Pixiv credentials
# Generate these automatically with the login script or via auth/main.py
REFRESH_TOKEN=
USER_ID=

# Login info for GPPT, only used for headless login
USERNAME=
PASSWORD=

# Directory in which to save downloaded files. Use an absolute path!
VAULT_DIR=


# Download settings. Each default value is what's recommended to use.

# Download bookmarked works.
DOWNLOAD_BOOKMARKS=true

# Generates a custom metadata file keeping track of the order works were
# bookmarked in. Used to generate the sorted bookmarks view.
UPDATE_BOOKMARK_ORDER=true

# Download all works by artists you're following.
DOWNLOAD_FOLLOWING=true

# Generate organized directories in your vault using symlinks. These include a
# directory with only bookmarks, with only artwork, only metadata, etc.
GENERATE_VIEWS=true

# Perform a full refresh of all bookmark metadata on each download -- including
# works which have already been saved -- and download custom bookmark tags.
# This doesn't add much time on the initial download, but takes substantially
# longer on later runs. This exists to solve an issue where works by followed
# artists won't be marked as bookmarked if they're bookmarked after followed
# artists get downloaded, since existing files are normally skipped.
#
# Recommendation:
# Enable only if you have time to spare on long downloads, and care a lot about
# custom bookmark tags and/or knowing exactly which works have been bookmarked.
FULL_BOOKMARK_METADATA=false
